@import './fontsCustom.css';
@import './fontsPages.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'ABCFavoritMono-Book', monospace;
    font-weight: 400;
}

/* Para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

/* Para Firefox */
html {
  
    overflow-x: hidden;
}